<h1><a href="/">Jekkuluola</a></h1>


<a href="/profile/{{ joke.username }}">{{ joke.username }}</a> <br>
<b>{{ joke.content }}</b> <br>
Luotu: {{ joke.created_at.strftime("%Y-%m-%d %H:%M:%S") }} <br>
Pisteet: <b>{{ votes }}</b> <br>
{% if session.admin %}
<a href="/removejoke/{{ joke.id }}">Poista vitsi</a>
{% endif %}
<br>
{% if session.user_id %}
<a href="/upvote/{{ joke.id }}">ylä-ääni</a> <a href="/downvote/{{ joke.id }}">alaääni</a>
{% else %}
<a href="/login">kirjaudu äänestääksesi</a>
{% endif %}
<br>

<hr>
{% for comment in comments %}
<a href="/profile/{{ comment.username }}">{{ comment.username }}</a> <br>
<b>{{ comment.comment }}</b> <br>
Luotu: {{ comment.created_at.strftime("%Y-%m-%d %H:%M:%S") }} <br>
<br>
{% endfor %}
<br>
{% if session.user_id %}
<form action="{{ joke.id }}" method="POST">
    <textarea name="comment" rows="3" columns="10"></textarea>
    <input type="submit" value="Kommentoi">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
{% else %}
<a href="/login">kirjaudu sisään</a>
{% endif %}
