<h1><a href="/">Jekkuluola</a></h1>


<a href="/profile/{{ joke.username }}">{{ joke.username }}</a> <br>
<b>{{ joke.content }}</b> <br>
Luotu: {{ joke.created_at.strftime("%Y-%m-%d %H:%M:%S") }} <br>


<hr>
{% for comment in comments %}
<a href="/profile/{{ comment.username }}">{{ comment.username }}</a> <br>
<b>{{ comment.comment }}</b> <br>
Luotu: {{ comment.created_at.strftime("%Y-%m-%d %H:%M:%S") }} <br>
<br>
{% endfor %}
<br>
{% if session.user_id %}
<form action="{{ joke.id }}" method="POST">
    <input type="text" name="comment"></p>
    <input type="submit" value="Kommentoi">
</form>
{% else %}
<a href="/login">kirjaudu sisään</a>
{% endif %}
